@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,700,800,900");
html, body {
  height: 100%;
}

/**** overrides for UIkit ****/
* + .uk-margin {
  margin-top: -100px !important;
}

/**** Universal styles ****/
* {
  font-family: "Work Sans", Arial;
}

/*** off canvas menu styles ***/
.main-wrapper {
  background: url("../images/bgMTN.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 93%;
}

.fa-bars {
  outline: none;
  font-size: 3em;
  border: none;
  color: #fff;
  -webkit-text-stroke: 2px black;
  text-shadow: 2.1px 3.8px 0.5px black;
  margin-top: 2%;
  margin-left: 2%;
}

.fa-times {
  border: none;
}

.fa-bars:hover {
  text-shadow: 2.1px 3.8px 0.5px #1ebcff;
}

.fa-bars:active {
  text-shadow: 5.1px 4.8px 0px #1ebcff, -8.1px -4.8px 0px #FF1D5D;
}

.uk-offcanvas-bar {
  background: rgba(255, 255, 255, 0.1);
  border-right: 4px solid black;
  width: 100%;
}

.uk-offcanvas-bar .uk-nav-primary li a {
  width: 4em;
  margin: 0 auto;
  color: #fff;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  font-size: 3em;
  border: none;
}

.uk-offcanvas-bar .uk-nav-primary li a:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  margin-top: 55px;
  background: linear-gradient(to right, #FF1D5D, #1ebcff);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.uk-offcanvas-bar .uk-nav-primary li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(0.08);
  transform: scaleX(0.08);
}

.uk-offcanvas-bar .uk-nav-primary li a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 2.1px 3.8px 0.5px rgba(0, 0, 0, 0.3);
}

.uk-offcanvas-bar .uk-nav-primary li a:active {
  color: white;
  text-shadow: -2px -2px 2px #1ebcff, 2px 2px 2px #FF1D5D;
}

li:active {
  transform: scale(0.95);
}

.uk-offcanvas-bar .uk-button-default {
  color: #fff;
  width: 100px;
  -webkit-text-stroke: 2px black;
  font-size: 3em;
  text-shadow: 2.1px 3.8px 0.5px black;
  margin-left: 90%;
}

.uk-offcanvas-bar .uk-button-default:hover {
  text-shadow: 2.1px 3.8px 0.5px #1ebcff;
}

.uk-offcanvas-bar .uk-button-default:active {
  text-shadow: 5.1px 4.8px 0px #1ebcff, -8.1px -4.8px 0px #FF1D5D;
}

/*** Main page elements styles ***/
.landing-div {
  margin: 0 auto;
}

.uk-heading-hero {
  font-weight: 600;
}

.nameLast, .nameFirst {
  margin: 0 auto;
  color: #111;
  text-shadow: 1px 1px 0px #1ebcff, -1px -1px #FF1D5D;
  font-family: "Work Sans", Arial;
  letter-spacing: -6;
}

.nameWrapper {
  margin-top: 10%;
}

/**** Contact Icons styles ****/
.social {
  margin-top: -28px;
}

.social a {
  font-size: 4em;
  color: rgba(255, 255, 255, 0.8);
  -webkit-text-stroke: 1.6px #000;
}

#socialTopRow {
  text-align: right;
}

#socialTopRow a {
  margin-right: 2.5px;
}

#socialBottomRow {
  padding-left: 0;
}

#socialBottomRow a {
  margin-left: 2.5px;
}

.social a:hover {
  color: #1ebcff;
  text-shadow: 2px 1.5px #333;
}

.social a:active {
  color: #FF1D5D;
  text-shadow: 2px 1.5px #333, -2px -1.5px #1ebcff;
}

.clickToCall {
  text-decoration: underline;
}

/**** Name and Email stylings ****/
.contact p {
  font-weight: 400;
  font-size: 1.6em;
  color: #000;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.contact {
  position: absolute;
  left: 100;
  right: 0px;
  margin-top: -100px;
  width: 100%;
  text-align: center;
}

.divider {
  border: 2px solid black;
}

.dividerBottom {
  border-bottom: 2px solid black;
  margin-top: 75px;
}

/**** About Div Styles ****/
.about {
  width: 100%;
  display: flex;
  background-color: #333;
  border-bottom: 3px solid white;
  border-top: 4px solid black;
}

.aboutH1 {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 3.5em;
  font-weight: 800;
  text-align: center;
  color: #fff;
}

.me-picture {
  width: 250px;
  height: 300px;
  background: url("../images/me.svg");
  background-repeat: no-repeat;
  margin-top: 10px;
}

.aboutSVGOverlay {
  background: rgba(0, 0, 0, 0.5);
  height: 330px;
  margin-top: 50px;
}

.fun-facts, .interests {
  color: #fff;
  text-shadow: 2px 1.5px 2px #000;
}

ul {
  list-style: none;
}

.fun-facts h1, .interests h1 {
  text-shadow: 1px 1px 0px #FF1D5D, -1px 1px 0px #1ebcff;
  -webkit-text-stroke: 2px black;
  font-weight: 700;
  color: #fff;
  border-bottom: 2px solid white;
  text-align: center;
}

.fun-facts {
  font-size: 1.8em;
  font-weight: 400;
  margin-top: 50px;
  margin-left: 5%;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 65%;
  padding: 15px 15px;
}

.fun-facts span {
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(60deg, #FF1D5D, #1ebcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  -webkit-animation: hue 15s ease infinite;
  background-size: 600% 600%;
}

@-webkit-keyframes hue {
  0% {
    background-position: 0% 71%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 71%;
  }
}
.fun-facts p:nth-child(1) {
  font-size: 2em;
}

.interests {
  margin-top: -450px;
  margin-right: 10%;
  float: right;
}

/**** Work Experience Styles ****/
.workExp {
  width: 100%;
  background: url("../images/chalkboard.jpg");
}

.workAccordian {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px black;
  padding: 10px 20px;
}

.uk-accordion-title h2 {
  color: #fff;
  border-bottom: 2px solid #ffff75;
  width: 150%;
}

.educationDiv {
  width: 50%;
  margin-left: 25%;
  margin-top: 30px;
  padding-bottom: 50px;
  color: #fff;
  text-shadow: 1px 1px 2px black, -0.5px -0.5px 0px black;
}

.educationDiv h2, .educationDiv h3 {
  color: #fff;
}

.educationDiv h2 {
  margin-bottom: -20px;
  font-weight: 700;
}

.workExpH1 {
  text-align: center;
  padding-top: 50px;
  color: #FFF;
  font-weight: 700;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px 2px #000, -0.5px -0.5px 0px #000;
}

.uk-accordion-title::before, .uk-open > .uk-accordion-title::before {
  background-image: none;
}

.uk-open > .uk-accordion-title::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}

.fa-plus-square:before {
  margin-left: -20px;
  margin-top: 15px;
  color: #fff;
}

/**** Footer styles ****/
footer {
  border-top: 2px solid #FF1D5D;
  height: 100px;
  padding-left: 10px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3em;
  font-weight: 400;
}

footer span {
  color: #333;
}

footer a {
  color: #555;
}

footer label {
  color: #000;
}

.footerEmailAndPhoneDiv {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-left: 50px;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footerEmailAndPhoneDiv a {
  border-bottom: 1px solid #333;
}

footer a:hover {
  text-decoration: none;
  color: #FF1D5D;
}

.footerSocialDiv {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  float: right;
  width: 200px;
  padding-right: 50px;
  font-weight: 400;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footerSocialDiv .fab {
  line-height: 1.5;
  border-bottom: 1px solid #333;
}

.tz-logo {
  height: 100px;
  margin-top: 20px;
}

.copyright {
  width: 100%;
  text-align: center;
}

/**** Skills Div Styles ****/
.skills {
  background: url("../images/fog.jpg");
  background-size: cover;
  border-top: 3px solid white;
  box-shadow: 2px 3px 5px black;
}

.skills h1 {
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.uk-card {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  -webkit-text-stroke: 1px black;
  background: rgba(200, 200, 200, 0.5);
}

.html:hover {
  color: #e85738;
}

.css:hover {
  color: #2562a8;
}

.javascript:hover {
  color: #e8d358;
}

.time:hover {
  color: #2cae71;
}

.sass:hover {
  color: #c56694;
}

.git:hover {
  color: #3b2c04;
}

.skills .uk-grid > * > :last-child {
  margin-bottom: 50px;
  border: 2px solid black;
}

.skillsIcon {
  font-size: 3em;
}

/**** Media Queries ****/
@media only screen and (max-width: 1665px) {
  .uk-offcanvas-bar .uk-nav-primary li a:hover:before {
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
}
@media only screen and (max-width: 1333px) {
  .uk-offcanvas-bar .uk-nav-primary li a:hover:before {
    -webkit-transform: scaleX(0.15);
    transform: scaleX(0.15);
  }
}
@media only screen and (max-width: 917px) {
  .uk-offcanvas-bar .uk-nav-primary li a:hover:before {
    -webkit-transform: scaleX(0.3);
    transform: scaleX(0.3);
  }
}
@media only screen and (max-width: 574px) {
  .uk-offcanvas-bar .uk-button-default {
    margin-left: 75%;
  }

  .me-picture {
    display: none;
  }

  .fun-facts, .interests {
    margin-left: 65px;
  }

  footer {
    border-top: 2px solid #FF1D5D;
    height: 200px;
    flex-direction: column;
    justify-content: none;
    font-size: 1.3em;
    font-weight: 400;
  }

  .tz-logo {
    display: none;
  }

  .copyright {
    margin-top: 0;
  }

  .footerEmailAndPhoneDiv {
    margin-top: 40px;
    width: 100%;
    padding-left: 0px;
    text-align: center;
    margin-bottom: -60px;
  }

  .footerSocialDiv {
    padding-left: 0px;
    width: 100%;
    text-align: center;
  }

  footer label {
    display: none;
  }
}
@media only screen and (max-width: 360px) {
  .name {
    font-size: 2em;
  }

  .nameWrapper {
    margin-left: -20px;
  }

  .contact p {
    padding-top: -50px;
  }
}
@media only screen and (max-height: 420px) {
  .main-wrapper {
    height: 100%;
  }
}
@media only screen and (max-height: 605px) {
  .divider {
    display: none;
  }

  .nameWrapper {
    margin-top: -30px;
  }

  .social {
    margin-top: 20px;
  }

  .social a {
    font-size: 2.5em;
  }

  .dividerBottom {
    display: none;
  }

  .contact p {
    margin-top: 70px;
  }
}
@-moz-document url-prefix() {
  .divider {
    display: none;
  }

  .nameWrapper {
    margin-top: -30px;
  }

  .social {
    margin-top: 20px;
  }

  .dividerBottom {
    display: none;
  }

  .contact p {
    margin-top: 70px;
  }

  .main-wrapper {
    height: 100%;
  }
}

/*# sourceMappingURL=mainStyle.css.map */
